* {
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

body {
    margin: 0;
    background: #f4f6f8;
    color: #333;
}
nav {
    background-color: rgb(34, 101, 216);
    padding: 30px 60px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo {
    font-size: 45px;
    font-weight: bold;
    color: rgb(255, 255, 255);
}

nav ul {
    list-style: none;
    display: flex;
    gap: 30px;
}

nav a {
    color: rgb(0, 0, 0);
    text-decoration: none;
    background-color: greenyellow;
    padding: 18px 28px;
    border-radius: 15px;
    display: flex;
    align-items: center;
    gap: 10px;
    font-size: 18px;
}

nav a img {
    width: 28px;
    height: 28px;
}

nav a:hover {
    text-decoration: underline;
}

.hero {
    background: linear-gradient(rgba(0,0,0,0.6), rgba(0,0,0,0.6)),
                url("hinhanh/Ảnh\ chụp\ màn\ hình\ 2025-12-28\ 084908.png");
    background-size: cover;
    background-position: center;
    padding: 80px 20px;
    text-align: center;
}

.hero h1 {
    color: white;
    font-size: 28px;
    max-width: 900px;
    margin: auto;
    line-height: 1.6;
}

.container {
    padding: 50px;
    gap: 30px;
}

.container h2 {
    margin-bottom: 30px;
}

.productgrid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    gap: 30px;
}
.product-list {
    display: grid;
    gap: 30px;
}


.productitem {
    background-color: rgba(142, 219, 206, 0.925);
    padding: 25px;
    border-radius: 30px;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 360px;
    box-shadow: 0 8px 20px rgba(0,0,0,0.1);
}

.productitem img {
    width: 100%;
    height: 180px;
    object-fit: contain;
}

.productitem h3 {
    color: rgb(224, 56, 56);
    margin: 15px 0;
}

.price {
    color: rgb(255, 255, 255);
    font-size: 26px;
    font-weight: bold;
}


.btn-buy {
    background-color: rgb(71, 212, 243);
    color: rgb(201, 24, 24);
    padding: 12px 25px;
    border-radius: 50px;
    text-decoration: none;
    display: inline-block;
}

.btn-buy:hover {
    background-color: #3d7ab0;
    text-decoration: underline;
}

.footer {
    background: #3198c4;
    color: #fff;
    margin-top: 40px;
    font-size: 14px;
}

.footer-container {
    display: flex;
    justify-content: space-between;
    padding: 40px;
    gap: 30px;
}

.footer-col {
    width: 33%;
}

.footer-col h3 {
    margin-bottom: 15px;
    color: #dce2e4;
}

.footer-col p,
.footer-col a {
    color: #c8c6ce;
    text-decoration: none;
    line-height: 1.8;
}

.footer-col a:hover {
    color: #fff;
}

.footer-col ul {
    list-style: none;
    padding: 0;
}

.footer-col ul li {
    margin-bottom: 8px;
}

.footer-bottom {
    text-align: center;
    padding: 15px;
    background: #180fc3;
    color: #aaa;
}

@media (max-width: 768px) {
    .footer-container {
        flex-direction: column;
    }

    .footer-col {
        width: 100%;
    }
}

.menu-khac {
    position: relative;
}


.submenu {
    position: absolute;
    top: 100%;
    left: 50%;
    transform: translateX(-50%) translateY(10px);

    background-color: white;
    list-style: none;
    padding: 15px;
    border-radius: 15px;
    min-width: 180px;

    opacity: 0;
    pointer-events: none;
    transition: 0.3s ease;

    box-shadow: 0 10px 30px rgba(0,0,0,0.2);
    z-index: 10;
}


.menu-khac:hover .submenu {
    opacity: 1;
    pointer-events: auto;
    transform: translateX(-50%) translateY(0);
}


.submenu li a {
    color: black;
    padding: 10px 15px;
    display: block;
    text-decoration: none;
    border-radius: 10px;
}

.submenu li a:hover {
    background-color: #e6f0ff;
}