* {
    box-sizing: border-box;
    font-family: Arial, sans-serif;
}

body {
    height: 100vh;
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    background: linear-gradient(135deg, #2563eb, #60a5fa);
}

.dangnhap-box {
    background: white;
    padding: 30px;
    width: 350px;
    border-radius: 16px;
    box-shadow: 0 15px 40px rgba(0,0,0,0.2);
    text-align: center;
}

.dangnhap-box h2 {
    margin-bottom: 20px;
}

.dangnhap-box input {
    width: 100%;
    padding: 12px;
    margin-bottom: 12px;
    border-radius: 10px;
    border: 1px solid #ccc;
}

.dangnhap-box button {
    width: 100%;
    padding: 12px;
    border-radius: 12px;
    border: none;
    background: #2563eb;
    color: rgb(161, 161, 36);
    font-size: 16px;
    cursor: pointer;
}

.dangnhap-box button:hover {
    background: #1d4ed8;
}

.dangnhap-box p {
    margin-top: 15px;
    font-size: 14px;
}

.dangnhap-box a {
    color: #ffffff;
    text-decoration: none;
}